/* js */
.show{
    display: block;
}
.hide{
    display: none;
}
/* global */
html{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg,#ECB390  0%, #C0D8C0 50%, #DD4A48 100%);
}

li,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: transparent;
    outline: none;
    margin: 0;
    cursor: pointer;
}

/* logical */
.location-info{
    text-align: center;
    background-color: black;
    padding: 5px;
    opacity: 0.5;
    right: 45px;
    top: 45px;
    position: absolute;
}
.app{
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.todos{
    margin-top: 2.5em;
    margin-bottom: 1em;
    overflow-y: scroll;
    width: 200px;
}
.todos::-webkit-scrollbar {
    width: 7px; /*스크롤바의 너비*/
}

.todos::-webkit-scrollbar-thumb {
    background-color: #FF6363; /*스크롤바의 색상*/
}

.todos::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
}

.login,.timeContainer,.todo{
    width: 100%;
    text-align: center;
}
.times{
    font-size: 4.5rem;
    font-weight: bold;
    color: #FF6363;
}
.todo{
    width: 380px;
    color: #FF6363;
}

.todo-ask{
    width: inherit;
}

.todo-input{
    color: #9D5353;
    font-weight: bold;
    font-size: 15px;
    width: 80%;
    border: none;
    padding: 5px 5px;
    outline: none;
    border-radius: 15px;
}

.todotodo{
    background-color: black;
    display : flex;
    justify-content : space-between;
    background-color : white;
    opacity : 0.7;
    margin-bottom : 5px;
    border-radius : 5px;
    padding:5px
}
.todoSpan{
    color: #FF6363;
    font-weight: bold;
}